* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
    --hover: #{adjust-hue(#ff5b2e, 45deg)};
}
html {
    font-size: 62.5%;
}
body {
    background: #fffaf5;
    --text-color: #000958;
    --sub-text-color: #656689;
    --link-text-color: #5e6085;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: var(--height);
    line-height: var(--height);
    min-width: 130px;
    color: var(--text-color);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}
.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
    margin-top: 15px;
}
.section-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    margin-top: 24px;
}
.sub-btn {
    border-bottom: 1px solid currentColor;
    min-width: 200px;
    border-color: currentColor;
    transition: 0.3s;
    padding: 4px;
}
.sub-btn:hover {
    color: #ff5b2e;
}
/* Header */
.header {
    padding: 26px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
}
.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--link-text-color);
}
.navbar__link,
.header-action__link,
.sub-btn {
    color: #0000;
    min-width: 118px;
    background: linear-gradient(90deg, #ff5b2e 50%, #000 0) var(--_p, 100%) /
        200% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.4s;
}
.navbar__link:hover,
.header-action__link:hover,
.sub-btn:hover {
    --_p: 0%;
    border-color: #ff5b2e;
}
.header-action__btn {
    color: #000;
    border: 2px solid transparent;
    padding: 6px 10px;
    border: 2px solid black;
    box-shadow: 5px 5px gray;
    transition: 0.5s;
}
.header-action__btn:hover {
    color: #fff;
    background: linear-gradient(90deg, #ff5b2e 50%, var(--primary-color) 0)
        var(--_p, 100%) / 200% no-repeat;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-color: var(--primary-color);
    box-shadow: 5px 5px rgba(207, 174, 132, 0.25);
    border-radius: 6px;
}
/* Hero */
.hero {
    margin-top: 74px;
    font-family: Sora, sans-serif;
}
.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 120px;
}
.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 100px;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background-color: transparent;
    border: 3px solid #fff;
}
.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.hero__decor {
    z-index: -1;
    position: absolute;
}
.decor-left {
    bottom: 10px;
    left: -58px;
}
.decor-right {
    top: 16px;
    right: -43px;
}
.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #fff;
}
.hero__list {
    position: absolute;
    bottom: 0;
    left: 10%;
    min-width: 250px;
    min-height: 156px;
    padding: 18px 14px;
    background-color: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}
.hero__list-item {
    display: flex;
}
.hero__list-item__speared {
    display: block;
    margin: 20px 0;
    height: 2px;
    width: 100%;
    background-color: #f2f2f2;
}
.hero__list-item__thumb {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 21px rgba(247, 167, 12, 0.32));
}
.hero__list-item__info {
    margin-left: 10px;
}
.hero__list-item__title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}
.hero__list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}
.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}
.hero__desc {
    width: 391px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    margin-top: 24px;
}
.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
    gap: 24px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 190px;
    border-radius: 31px;
}
.hero__cta-btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero__cta-link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    color: #000958;
}
.hero__cta-link:hover {
    text-decoration: underline;
}
/* About */
.about {
    margin-top: 138px;
}
.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 146px;
}
.about__label {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}
.about__heading,
.about__desc {
    width: 444px;
}
.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-top: 54px;
    gap: 36px;
}
.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}
.about__check-item::before {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}
.about__check-item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../images/Icons/check.svg);
}
.about__media {
    position: relative;
}
.about__card {
    position: absolute;
    left: 0;
    top: 165px;
    padding: 30px 26px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    width: 136px;
}
.about__card-title {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}
.about__card-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    text-align: center;
    color: #c6f4f9;
    margin-top: 14px;
}
.about__card-decor {
    position: absolute;
    top: -39px;
    right: -32px;
}
.about__img-wrap {
    margin-left: auto;
    position: relative;
    width: 494px;
}
.about__img-wrap::after {
    z-index: -1;
    height: 336px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}
.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}
.about__meida-decor {
    position: absolute;
    z-index: -1;
    top: 157px;
    right: -50px;
}
.about__img-wrap-bottom {
    width: 458px;
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}
.about__img-wrap-bottom::after {
    content: none;
}
.about__img-wrap-bottom .about__img {
    width: 100%;
}
.about__meida-decor-bottom {
    z-index: 1;
    top: unset;
    bottom: -50px;
    right: -50px;
}
.about__decor-img {
    position: absolute;
}
.about__decor-img:first-child {
    top: 13px;
    right: 64px;
}
.about__decor-img:nth-child(2) {
    top: -12px;
    right: 10px;
}
.about__decor-img:nth-child(3) {
    top: 30px;
    right: -30px;
}
.about__decor-img:nth-child(4) {
    bottom: 40%;
    right: -40px;
}
.about__decor-img:nth-child(5) {
    bottom: 30%;
    right: 20px;
}
.about__heading-bottom {
    width: 543px;
}
.about__desc-bottom {
    width: 511px;
    margin-bottom: 50px;
}
.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}
.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
    opacity: 0.2;
}
.tab__item--active::after {
    opacity: 1;
    width: 150px;
}
.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 10px;
}
.tab__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}
.tab__contents {
    width: 400px;
    padding-top: 36px;
}
.tab__content-item {
    display: none;
}
.tab__content-item--active {
    display: block;
}
.tab__content-desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
.tab__content-more {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: #ff5d31;
    margin-top: 32px;
    padding-bottom: 5px;
}
.tab__content-more::after {
    opacity: 1;
    height: 1.5px;
}
.tab__icon {
    width: 20px;
    height: 20px;
}
/* Service */
.service {
    margin-top: 130px;
    padding: 68px 0 100px;
    background-color: #fff6ed;
}
.service__top {
    padding-top: 68px;
    text-align: center;
}
.service__desc,
.staff__desc {
    font-family: Sora, "sans-serif";
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #5e6085;
}
.service__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
}
.service-item {
    width: 294px;
    background: #ffffff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
    padding: 30px 28px;
}
.service-item + .service-item {
    margin-top: 24px;
}
.service-item__heading {
    display: inline-block;
    position: relative;
    font-family: Sora, "sans-serif";
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
    padding-left: 12px;
}
.service-item__heading::before {
    position: absolute;
    display: inline-block;
    content: "";
    inset: 0 auto 0 0;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);
}
.service-item__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #656689;
    margin-bottom: 24px;
}
.service-item__more {
    display: inline-flex;
    align-items: center;
    font-family: Sora, "sans-serif";
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}
.service-item__more::after {
    content: url(../images/Service/ArrowUpRight.svg);
    margin-left: 5px;
}
.service__media {
    position: relative;
    margin-top: 18px;
}
.service__media::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 16px;
    right: 16px;
    width: 410px;
    height: 350px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}
.service__img {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
}
.service__cta-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
/* Staff */
.staff {
    margin-top: 130px;
    padding-bottom: 130px;
    text-align: center;
}
.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}
.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.staff-item__img-wrap::before {
    content: "";
    position: absolute;
    height: 94%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    background-image: url(../images/Staff/Staff-Item_Decor-01.svg);
    bottom: 0;
    left: 50%;
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: translateX(-50%);
    background-size: 100%;
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../images/Staff/Staff-Item_Decor-02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../images/Staff/Staff-Item_Decor-03.svg);
}
.staff-item:last-child .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item:last-child .staff-item__img-wrap::after {
    background-image: url(../images/Staff/Staff-Item_Decor-04.svg);
}
.staff-item__img {
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    border-radius: inherit;
}
.staff-item__title {
    margin-top: 34px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}
.staff-item__name {
    margin-top: 14px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}
.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.staff__cta:hover {
    color: #ff5b2e;
}
/* Pricing */
.pricing {
    padding: 86px 0;
    background-color: #fff6ed;
}
.pricing__container {
    width: 994px;
}
.pricing__heading,
.pricing__desc {
    text-align: center;
}
.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}
.pricing__switch-inner {
    position: relative;
}
.pricing__switch--label {
    cursor: pointer;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 56px;
    border: 1px solid #ff5b2e99;
    border-radius: 99px;
    padding: 0 40px;
}
.pricing__switch--label::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: inherit;
    top: 0;
    left: 0;
    transition: 0.6s;
}
.pricing__switch--value {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
}
.pricing__switch-input:checked + .pricing__switch--label::before {
    width: 131px;
    transform: translateX(138px);
    right: 0;
}
.pricing__switch-input:not(:checked)
    + .pricing__switch--label
    .pricing__switch--value:nth-of-type(2),
.pricing__switch-input:checked
    + .pricing__switch--label
    .pricing__switch--value:nth-of-type(1) {
    color: var(--primary-color);
}
.pricing-sale-off {
    position: absolute;
    top: -14px;
    right: -100px;
}
.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}
.pricing-item {
    user-select: none;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 28px;
    transition: 0.35s;
}
.pricing-item:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-1.5em);
}
.pricing-item__type {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1;
    color: #ff5b2e;
}
.pricing-item__heading {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #3f4065;
    margin-top: 8px;
}
.pricing-item__price {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.03;
    color: #000958;
    margin-top: 24px;
}
.pricing-item__btn {
    width: 100%;
    cursor: pointer;
    --height: 44px;
    color: #ff5b2e;
    transition: 0.8s;
    background: linear-gradient(90deg, #ff5b2e 50%, #fff 0) var(--_p, 100%) /
        200% no-repeat;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-top: 22px;
    border-radius: unset;
    border-color: transparent;
}
.pricing-item:hover .pricing-item__btn,
.pricing-item__btn:hover {
    --_p: 0%;
    border-color: #ff5b2e;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.5em;
    border-radius: inherit;
    border: 1px solid rgba(255, 91, 46, 0.6);
}
.pricing-item__list {
    margin-top: 24px;
}
.pricing-item__item {
    display: flex;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}
.pricing-item__item::before {
    content: url(../images/Pricing/price_check.svg);
    margin-right: 14px;
}
.list-first .pricing-item__item:nth-child(4),
.list-first .pricing-item__item:nth-child(5),
.list-first .pricing-item__item:nth-child(6),
.list-first .pricing-item__item:nth-child(7) {
    opacity: 0.3;
}
.list-center .pricing-item__item:nth-child(5),
.list-center .pricing-item__item:nth-child(6),
.list-center .pricing-item__item:nth-child(7) {
    opacity: 0.3;
}
